
<h1>Exercise planner</h1>
<br>

<!-- table -->
<tbody>
    {{#each days}}
    <td>
            <tr> {{day}} </td>
            <tr>
                <!-- button to VIEW exercise -->
                <button>View</button>
            </tr>
            <tr>
                <!-- button to DELETE exercise -->
                <button>Delete</button>
            </tr>
    </td>
    {{/each}}
</tbody>

<!-- Check week.routes for info on {{days}} etc -->


