
<h1>Exercise planner</h1>

<!-- To do:
- Define how to set up page structure.
    Opt a) See below: Individual sections like in pure html.
    Opt b) Hbs {{each}} statement? If so, problem: How to include Day of the week as titles?
    Delete this comment as soon as done. -->

<h2>Monday</h2>
...

<h2>Tuesday</h2>
...

<h2>Wednesday</h2>
...

<h2>Thursday</h2>
...

<h2>Friday</h2>
...

<h2>Saturday</h2>
...

<h2>Sunday</h2>
...


