
<div class="container-fluid">
    <div class="row vh-50">
        <div class="col-6">
            <h1>Welcome to PHOENIX</h1>
            <h3>Find amazing exercises and create your own plan.</h3>
            <a href="../auth/signup">
                <button type="button" class="btn btn-dark">Sign up now and try for free</button>
            </a>
        </div>
        <div class="col-6" class="mb-12">
            <img src='https://drive.google.com/uc?export=download&id=1aOngW3LsOBqxi6WNXgl1SEwJTLaPtwB0' alt="">
        </div>
    </div>
</div>
<h1>Healthy exercises</h1>

<div class="container">

    <div class="left-box">
        <h3>Find amazing exercises and create your own plan.</h3>
        <br>
        <br>
        <a href="../auth/signup">
            <button>Try now</button>
        </a>
    </div>

    <div class="right-box">
    </div>

</div>


