<!-- No section padding here -->

<div class="container-fluid d-flex flex-column" style="height: 100vh;">


    <div class="row flex-grow-1">
        <div class="col-6 d-flex h-100 align-items-center justify-content-center" style="padding-right: 10%">
            <div>
                <h1>Amazing exercises to get in shape.</h1>
                <h3 class="text-secondary">Rise like the Phoenix</h3>
                <br>
                <br>
                <a href="../auth/signup">
                    <button class="btn btn-dark">Try now</button>
                </a>
            </div>
        </div>
        <div class="col-6 p-0 m-0 bg-secondary">
            <img src="https://drive.google.com/uc?export=download&id=1aOngW3LsOBqxi6WNXgl1SEwJTLaPtwB0"
                style="width: 100%; height: 100%; object-fit: cover;">
        </div>
    </div>

        <div class="row bg-dark" style="width: 100vw; height: 10vh;">
        </div>


</div>






