<h1>Create a new weekly plan</h1>

<h3>Add a title</h3>
<form method="GET">
    <input placeholder="Ready for summer!" type="text">
</form> <br>

<h3>Add a fitness goal</h3>
<form method="GET">
    <input placeholder="Get ready for a my summer goals" type="text">
</form> <br>
<a href="/exercises-list">
<button >Continue to the list of exercises</button></a>