<h1>Create a new weekly plan</h1>
<br>
<br>
<form method="POST" action="/exercise-planner">
    <input type="text" name = "title" placeholder="Ready for summer!"><br><br>
    <input type="text" name = "description" placeholder="Awesome description"><br><br>
 <button type="button" class="btn btn-dark">Continue</button>
 </form> <br>

<a href="/exercises-list">
   
</a>